*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}


/*   Header Section  */
h1 {
    margin-top: 20px;
    text-align: center;
}
h6{
    text-align: center;
}

.nav-item{
    margin-right: 25px;
    border-left: 2px solid gray;
    padding-left: 25px;
}
 
.navbar-brand img{
    width: 40px;
    margin: 0 15px 0 10px;
}
/*  End Header Section  */




/* background image and transparent layer */
body {
    height: 100%;
    width: 100%;
    background: url("Los-Angeles-skyline.jpg") no-repeat top center fixed;
}

.layer{
    background: rgba(201, 244, 252, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/* end background image and layer */




/*    Bio Section Wrap   */
.bio-sec-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

/*    Main Section Wrap End   */




/*  Side Section  */
.intro-pic{
    margin-left: 20%;
}

.side-sec-title {
    margin: 10px 15px 15px 15px;
    font-size: 16px;
    white-space: nowrap;
    text-align: center;
}

.tel-link{
    color: dimgray;
}

.tel-link:hover{
    color: dimgray;
    text-decoration: none;
}

.side-section{
    background-color: rgb(236, 249, 252, 0.8);
    display: inline-block;
    margin: 0 3% 0 3%;
}

.name, .license-num{
    font-size: 1.3em;
    text-align: center;
}

.phone-icon{
    height: 15px;
    margin: 0 10px 5px 0;
}

.phone{
    font-size: 1.5em;
    text-align: center;
}

.email{
    margin-bottom: 10px;
    text-align: center;
}

.email a{
    margin: 10px;
    font-size: 1em;
    text-decoration: none;
    color: dimgrey;
    white-space: nowrap;
}
/* End Side Section */




/*  Center Section  */
.about-me{
    text-align: center;
    font-size: 2em;
    color: dimgray;
}

.about-me-text{
    font-size: 1.5em;
    margin: 10px 40px 10px 40px;
}
/*  End Center Section  */



/* Main Section */
.main-sec-wrap{
    background-color: rgb(236, 249, 252, 0.8);
    display: inline-block;
    margin: 3%;
    width: 90%;
}
.address-price-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.home-for-sale{
    font-weight: 700;
    border-bottom: 2px solid gray;
    width: 40%;
    margin: 3% auto 3% auto;
    text-align: center;
    font-size: 2em;
    white-space: nowrap;
    padding-bottom: 2%;
}

.house-number{
    font-size: 2em;
    margin-top: 3%;
}

.city{
    font-size: 1em !important;
}

.price{
    font-size: 2em;
    margin-top: .5%;
}

.description{
    font-size: 2em;
    margin-left: 3%;
    font-weight: 700;
}

.description-para{
    margin: 4%;
    font-size: 1.5em;
}

.home-details{
    font-size: 1.5em;
    margin: 3%;
    font-weight: 700;
}

.description-grid{
    margin: 3%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    justify-items: center; 
}

.description-grid > *:nth-child(1){
	-ms-grid-row: 1;
	-ms-grid-column: 1; 
}

.description-grid > *:nth-child(2){
	-ms-grid-row: 1;
	-ms-grid-column: 2; 
}

.description-grid > *:nth-child(3){
	-ms-grid-row: 1;
	-ms-grid-column: 3; 
}

.description-grid > *:nth-child(4){
	-ms-grid-row: 2;
	-ms-grid-column: 1; 
}

.description-grid > *:nth-child(5){
	-ms-grid-row: 2;
	-ms-grid-column: 2; 
}

.description-grid > *:nth-child(6){
	-ms-grid-row: 2;
	-ms-grid-column: 3; 
}

.description-grid > *:nth-child(7){
	-ms-grid-row: 3;
	-ms-grid-column: 1; 
}

.description-grid > *:nth-child(8){
	-ms-grid-row: 3;
	-ms-grid-column: 2; 
}

.description-grid > *:nth-child(9){
	-ms-grid-row: 3;
	-ms-grid-column: 3; 
}

.googlemap{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 4fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;
}

.nearby-schools{
    margin: 3% 0 0 3%;
    font-size: 2em;
    font-weight: 700;
}

.school-name, .school-grades{
    font-size: 1.3em;
    font-weight: 500;
}

.schools-wrap{
    margin: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.carousel-wrap{
    width: 70%;
    margin: 3% auto 3% auto;
}
/* Main Section */




/*  Footer Section */
.assoc-realtor-img{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.assoc-realtor-img > img{
    height: 40px;
    margin: 20px;
}

.legal{
    text-align: center;
}
/*  Footer Section */




/*   Media Queries Below  */

@media (max-width: 414px){
    .bio-sec-wrap{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .description-grid{
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        white-space: nowrap;
    }

    .description-grid > *:nth-child(1){
		-ms-grid-row: 1;
		-ms-grid-column: 1;
    }

    .schools-wrap{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .schools-wrap > div{
        margin: 3%;
    }

    .nearby-schools{
        text-align: center;
    }

    .home-for-sale{
        width: 80%;
    }

    .address-price-wrap{
        flex-direction: column;
        margin-left: 3%;
    }

}
